.map {
	border: medium solid #fff;
	margin: 10px 0 10px 20px;
/*	background-color: red;
*/   
}

.siteTitle {
    font-size: 24pt;
    font-family: Garamond;
    color:#ff4d4d;
    position: absolute;
    font-weight: bold;
    text-align: center;
}

.countries{
	fill: red;
	stroke: black;
	stroke-width: 2px;
}
