.map {
	border: medium solid #000;
	margin: 70px;
	/*background-color: #d1d1e0;

*/
    background-color: white;
}

.siteTitle {
    font-size: 24pt;
    font-family: Garamond;
    color:#000;
    position: absolute;
    font-weight: bold;
    margin: 20px;
    padding: 10px;
    text-align: center;
}

.regions {
    fill: none;
}

/*.countries{
	fill: grey;
	stroke: white;
	stroke-width: 0.5px;
}*/

.regionsUnited.Kingdom {
    fill: grey;

}

.regionsIreland {
    fill: grey;
}

.regionsGermany {
    fill: grey;
}

.regionsPoland {
    fill: grey;
}

.regionsGreece{
    fill: grey;
}

.regionsItaly {
    fill: grey;
}

.regionsPortugal {
    fill: grey;
}

.regionsSpain {
    fill: grey;
}

.regionsChina {
    fill: grey;
}

.regionsIndia{
    fill: grey;
}

.regionsJapan {
    fill: grey;
}

.regionsTurkey {
    fill: grey;
}

.regionsCanada {
    fill: grey;
}

.regionsMexico {
    fill: grey;
}

/*.regionsUnited.States.of.America {
    fill: white;
}
*/








